{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

<div class = "login">
    
    <h1>Formulir Registrasi</h1>  

    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
                <label>Nama Event</label>
                <input type="text" name="nama_event" placeholder="Enter Here" class="form-control">
        </div>

                

        <input class="btn btn-outline-primary" type="submit" value="Login">

    </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}