{% extends 'base.html' %}
{% load static %}

    {% block meta %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company</title>
    <link rel="icon" href="{% static 'image/epent-nonbackground.png'%}" >

    <!-- google font 'Ubuntu' font style connect -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- css connect -->
    <link rel="stylesheet" href="{% static 'css/eo_general.css' %}">
    <link rel="stylesheet" href="{% static 'css/eo_leftmenu.css' %}">

    {% comment %} <link rel="stylesheet" href="css-file/test.css"> {% endcomment %}
    
</head>
{% endblock meta %}

{% block content %}
<body>
    <div class="left-menu">
        <div class="menu-icon-epent">
            <img class="img-epent"  src="{% static 'image/epent-nonbackground.png' %}">
        </div>

        <form class="menu-search-box" action="https://www.google.com/search" method="GET">
            <button type="submit">
                <img src="{% static 'image/eo_leftmenu_green-main/icon-search-tight.svg' %}">
            </button>

            <input class="search-txt" type="text" placeholder="    Cari Event... " name="q">
           
            

        </form>


        <div class="menu-feature">
            <a href="{% url 'eventOrganizer:event_profile' %}">
                <button class="button-profil">
                    <img class="icon-profil" src="Picture/Compfest Logo 1.jfif">
                    <div class="text-feature">Profil</div>
                </button>
            </a>

            <button class="button-sponsor">
                <img class="icon-feature" src="{% static 'image/eo_leftmenu_green-main/icon-kado.svg' %}">
                <div class="text-feature">Event</div>
            </button>

            {% comment %} <button class="button-kontraprestasi">
                <img class="icon-feature" src="{% static 'image/eo_leftmenu_green-main/icon-cookie.svg' %}">
                <div class="text-feature">Kontraprestasi</div>
            </button> {% endcomment %}

            <button  class="button-pesan">
                <img class="icon-feature" src="{% static 'image/eo_leftmenu_green-main/icon-pesan.svg' %} ">
                <div class="text-feature">Pesan</div>
            </button>

            <button class="button-notifikasi">
                <img class="icon-feature" src="{% static 'image/eo_leftmenu_green-main/icon-notification.svg' %}">
                <div class="text-feature" >Notifikasi</div> 
            </button>


            {% comment %} <button class="button-belanja">
                <img class="icon-feature" src="{% static 'image/eo_leftmenu_green-main/icon_bag_fill.svg' %}">
                <div class="text-feature">Belanja</div>
            </button> {% endcomment %}

        </div>

        <div class="menu-footer">
            <a class="button-logout" href="{% url 'landingpage:logout' %}">
                <img class="icon-footer" src="{% static 'image/eo_leftmenu_green-main/icon-sign_out.svg' %}">
                <div class="text-footer">Logout</div>
            </a>
        </div>

    </div>


    <div class="content-profile">
        <h2>Halaman Profile</h2>
        {% if not data_company %}
            <p>Data company belum diisi</p>
            <a href="{% url 'company:company_lengkapi_profile' %}"><button>Lengkapi Profile</button></a>
        {% else %}
    
            <p>Nama Company: {{data_company.name_company}}</p>
            {% if data_company.logo_image %}
                <img src="{{data_company.logo_image.url}}">
            {% endif %}
            <p>Email Company: {{data_company.email}}</p>
            <p>Alamat Company: {{data_company.alamat}}</p>
            <p>Bidang Usaha: {{data_company.bidang_usaha}}</p>
            <p>Link LinkedIn Company: {{data_company.link_linkedin}}</p>
            <p>Link Instagram Company: {{data_company.link_instagram}}</p>
    
    
        {% endif %}

    </div>


    <p></p>
    
</body>
{% endblock content %}

</html>