*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;  
    
}
/* Body menggunakan grid  */
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #28362f;
   
}
