
.content{
    margin-top: 0px;
}
.content-welcome{
    display: grid;
    grid-template-columns: 400px 400px;
}
.content-welcome-event,.content-welcome-sponsor{
    padding: 0px 50px;
    border: none;
    /* background: #d2f1e15b; */
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    margin: 20px;
    height: 400px;
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.content-welcome-upper{
    align-items: center;
    padding: 0px;
    
    display: flex;
    flex-direction: column;
}
.content-welcome-thumbnail{
    height: 180px;
    vertical-align: 10;
    box-sizing: border-box;
    
}
button{
    align-items: center;
}
h1{
    font-size: 20px;
    text-align: center;
}
h3{
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    color: gray;
}
/* tombol login signin */

.button-login{
    border-radius: 5px;
    height: 40px;
    width: 65px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;

    background-color: white;
    border:solid 1px #5DB075;
    color: #24663a;
}
.button-signin{
    border-radius: 5px;
    height: 40px;
    width: 65px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;

    background-color: #5DB075;
    color: white;
    border: none;
}
.button-login:hover{
    background-color: #5DB075;
    color: white;
    border: none;
    transition: 0.5s;
}
.button-signin:hover{
    background-color: white;
    color: #24663a;
    border: solid 1px #5DB075 ;
    transition: 0.5s;
}


/* css for auto navigation */
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}
.navigation-auto div{
    border: 2px solid lightskyblue;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~.navigation-auto .auto-btn1{
    background: lightskyblue;
}

#radio2:checked ~.navigation-auto .auto-btn2{
    background: lightskyblue;
}

#radio3:checked ~.navigation-auto .auto-btn3{
    background: lightskyblue;
}

#radio4:checked ~.navigation-auto .auto-btn4{
    background: lightskyblue;
}






