{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>login3 epent</title>
    <link rel="icon" href="{% static 'image/epent-nonbackground.png'%}" >

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
       
    </style>
{% endblock meta %}

{% block content %}
        <div class="left" >
            <div class="header">
                {{chat_partner.username}}
            </div>
           

        </div>

        <div class="right">

        </div>
        
{% endblock content %}